@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #FAFAFA;
}

.confirmpinbutton, .donebutton{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1F28EB;
}

.modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}